# 1. Import data and clean, merge to master dataset

In [1]:
import pandas as pd
import numpy as np

In [4]:
resale_1990_1999 = pd.read_csv('Data/resale-flat-prices-based-on-approval-date-1990-1999.csv')
resale_2000_2012 = pd.read_csv('Data/resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')
resale_2012_2014 = pd.read_csv('Data/resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')
resale_2015_2016 = pd.read_csv('Data/resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')
resale_2017 = pd.read_csv('Data/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')

In [27]:

resale_2000_2012.merge(resale_2012_2014, on=['block', 'street_name', 'floor_area_sqm', 'flat_type', 'resale_price', 'storey_range'])

,month_x,town_x,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model_x,lease_commence_date_x,resale_price,month_y,town_y,flat_model_y,lease_commence_date_y
0,2009-04,ANG MO KIO,3 ROOM,422,ANG MO KIO AVE 3,10 TO 12,73.0,New Generation,1979,300000.0,2013-08,ANG MO KIO,New Generation,1979
1,2010-01,JURONG WEST,5 ROOM,602,JURONG WEST ST 62,04 TO 06,115.0,Premium Apartment,2001,410000.0,2014-11,JURONG WEST,Premium Apartment,2001
2,2010-05,BEDOK,4 ROOM,428,BEDOK NTH RD,01 TO 03,92.0,New Generation,1979,370000.0,2014-09,BEDOK,New Generation,1979
3,2010-06,ANG MO KIO,3 ROOM,128,ANG MO KIO AVE 3,07 TO 09,67.0,New Generation,1978,300000.0,2014-11,ANG MO KIO,New Generation,1978
4,2010-06,CHOA CHU KANG,4 ROOM,687C,CHOA CHU KANG DR,07 TO 09,90.0,Model A,2003,350000.0,2014-11,CHOA CHU KANG,Model A,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,2012-02,WOODLANDS,3 ROOM,204,MARSILING DR,01 TO 03,68.0,New Generation,1981,295000.0,2012-08,WOODLANDS,New Generation,1981
310,2012-02,WOODLANDS,4 ROOM,27,MARSILING DR,04 TO 06,91.0,New Generation,1977,335000.0,2012-07,WOODLANDS,New Generation,1977
311,2012-02,WOODLANDS,5 ROOM,629,WOODLANDS RING RD,04 TO 06,122.0,Improved,1998,440000.0,2013-11,WOODLANDS,Improved,1998
312,2012-02,YISHUN,3 ROOM,234,YISHUN ST 21,04 TO 06,67.0,New Generation,1985,318000.0,2014-02,YISHUN,New Generation,1985
313,2012-02,YISHUN,3 ROOM,728,YISHUN ST 71,01 TO 03,64.0,Simplified,1987,300000.0,2014-10,YISHUN,Simplified,1987

In [20]:
resale_2012_2014[(resale_2012_2014['block']=='395') & (resale_2012_2014['town']=='YISHUN')]

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
4408,2012-04,YISHUN,4 ROOM,395,YISHUN RING RD,06 TO 10,84.0,Simplified,1988,331000.0
8740,2012-06,YISHUN,4 ROOM,395,YISHUN RING RD,10 TO 12,84.0,Simplified,1988,352000.0
14785,2012-09,YISHUN,4 ROOM,395,YISHUN RING RD,10 TO 12,84.0,Simplified,1988,365088.0
25440,2013-04,YISHUN,4 ROOM,395,YISHUN RING RD,04 TO 06,84.0,Simplified,1988,350000.0
25445,2013-04,YISHUN,4 ROOM,395,YISHUN RING RD,07 TO 09,84.0,Simplified,1988,358000.0
29868,2013-07,YISHUN,4 ROOM,395,YISHUN RING RD,04 TO 06,84.0,Simplified,1988,353000.0
31238,2013-08,YISHUN,4 ROOM,395,YISHUN RING RD,10 TO 12,84.0,Simplified,1988,365000.0
31255,2013-08,YISHUN,4 ROOM,395,YISHUN RING RD,04 TO 06,104.0,Model A,1988,400000.0
33817,2013-10,YISHUN,4 ROOM,395,YISHUN RING RD,04 TO 06,84.0,Simplified,1988,339000.0
46479,2014-08,YISHUN,4 ROOM,395,YISHUN RING RD,10 TO 12,104.0,Model A,1988,375000.0